html{
position:relative;
min-height: 100%;
}

body {
  background-image: url("images/background.png");
  margin-bottom: 90px;
}



.navbar-default{
  background-color: #ffffff;
  border-bottom: solid;
  border-color: #cccccc;
  width: 100%;
 }

#header{
background-color: #4aaaa5;
padding-left: 15px;
margin-left: -18px;
animation-duration: 2s;
 animation-name: bounceIn;
}

#namestyle{
  color:white;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}

#ul{
  padding-top: 15px;
  padding-right: 60px;
}


.aboutme{text-align: left;
color:#4aaaa5;
margin-left: 30px;
font-family:"Georgia", Times, "Times New Roman", serif;
}

.ConnectHeader{
color:#4aaaa5;
text-align: center;
font-family: "Georgia", Times, "Times New Roman", serif;
font-size: 20px;
}

#connect {
margin-top:40px;
border:solid;
border-color: #dddddd;
background-color: #ffffff;
height: auto;
padding-bottom: 20px;
}


.github:hover{
background-color: gray;
}

.LinkedIn:hover {
background-color: black;
}


.StackOverflow:hover {
background-color: gray;
}


#Bio{
float: left;
border: solid;
margin-top: 40px;
background-color: #ffffff;
border-color: #dddddd;
margin-left: auto;
margin-bottom: 40px;
}

#Profile{
float: left;
margin-right: 15px;
}

.me{
width: 90%;
border:solid;
color:#dddddd;
border-width: 2px;
margin-bottom: 10px;
}

.connectborder{
width: 85%;
border:solid;
color:#dddddd;
border-width: 1.5px;
margin-top: -2px;
margin-bottom: 20px;
}

p{
font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
font-size: 18px;
}


#footer{
text-align: center;
font-family: "Georgia", Times, "Times New Roman", serif;
background-color: #666666;
border-top: solid;
border-bottom: none;
border-color: #4aaaa5;
border-width: 5px;
bottom: 0;
padding-top: 20px;
width: 100%;
height: 70px;
}


#Formbox{
border:solid;
margin-top: 40px;
margin-bottom: 40px;
background-color: #ffffff;
border-color: #dddddd;
clear: both;
}


.formheader{
color: #4aaaa5;
font-family: "Georgia", Times, "Times New Roman", serif;
}

.contactbreak{
width:100%;
border:solid;
border-color: #dddddd;
margin-bottom:35px;
border-width: 2px;
}


#submit{
  background-color: #4aaaa5;
}


#PortfolioBox {
margin-top: 40px;
margin-bottom: 40px;
border: solid;
background-color: #ffffff;
border-color: #dddddd;
}

.Portfolio {
color: #4aaaa5;
margin-left: 30px;
font-family:"Georgia",Times, "Times New Roman", serif;
}

.Portfoliobreak {
  width: 90%;
  border:solid;
  color:#dddddd;
  border-width: 2px;
  margin-bottom: 10px;}

  .carousel-caption{
position: relative;
float: left;
width: 100%;
left:0px;
margin-top: -70px;
margin-bottom: 20px;
padding: 10px;
background-color: #4aaaa5;
color: white;
text-align: center;
z-index: 2;
font-family: "Georgia", Times, "Times New Roman", serif;
}

#rockdescription{
position: relative;
float: left;
width: 100%;
left:0px;
margin-top: -90px;
margin-bottom: 40px;
padding: 10px;
background-color: #4aaaa5;
color: white;
text-align: center;
z-index: 2;
font-family: "Georgia", Times, "Times New Roman", serif;
}

#image:hover{
opacity: .4
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}



@media screen and (max-width: 768px){
.img-rounded{width: 100%;}
.ConnectHeader{text-align: left;}
#namestyle{float: none;
text-align: center;}
.navbar-nav{display: inline-flex;
width: 100%;
margin: 0 auto;
font-size: 20px;}
#ul{padding-top: 0px;
  padding-bottom: 10px;
  justify-content: center;
  padding-left: 55px;}

.Connectlinks{
  display: inline-flex;
  }

#connect{
  margin-top: 0px;
}

#image{
width: 100%;
}

}

@media screen and (max-width: 1005px){
.Connectlinks{
display: inline-flex;
}
#image{
width: 100%;
}
}
